@import 'src/styles/variables.scss';

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  align-items: center;
  padding: 0 80px;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 22px;
    }

    span {
      position: relative;
      font-size: 22px;
      margin-left: 30px;
      font-family: 'Lobster', cursive;
    }

    span::before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 22px;
      left: -15px;
      background-color: #262626;
    }
  }

  .searchBox {
    position: relative;

    input {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background-color: #fafafa;
      text-align: center;
      width: 215px;
      height: 28px;
    }

    img {
      position: absolute;
      left: 80px;
      top: 10px;
      width: 10px;
    }
  }

  .icon {
    img {
      width: 22px;
      margin: 8px;
    }
  }
}
