@import '../../../../styles/common.scss';

.myprofile {
  display: flex;
  align-items: center;

  img {
    width: 55px;
    height: 55px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    span:first-child {
      font-weight: 600;
      font-size: 18px;
    }

    span:last-child {
      color: $color-gray;
      font-size: 1px;
      font-weight: 500;
      font-size: 13px;
    }
  }
}
