@import '../../../styles/common.scss';

.main-page {
  display: flex;
  justify-content: center;
  min-width: 800px;
  background: $bg-gray;

  button {
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .main {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    max-width: 930px;
    padding: 0 10px;
  }

  @media (max-width: 900px) {
    .main-page {
      min-width: 500px;
    }
  }
}
