@import './variables.scss';

//  COMMON CSS

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

b {
  font-weight: 600;
}