<<<<<<< HEAD
@import './variables.scss';

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//  COMMON CSS

* {
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

b {
  font-weight: 600;
}
=======
* {
  box-sizing: border-box;
}
>>>>>>> 21ea6de0cfe6e3590e0e1e8dc12f3325abdda9ef
