@import '../../../../styles/common.scss';

.main-right {
  flex: 3;
  margin-left: 20px;

  & > div:nth-child(n) {
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .main-right {
    display: none;
  }
}
